.footer{
    flex-shrink: 0;
    background-color:getColour(light-grey) ;
    
    &__copyright{
        float: right;
        color: getColour(secondary);
    }
    &__email{
        color: getColour(secondary);
        text-decoration: none;
    }
    &__email:hover{
        color: getColour(primary);
    } 
} 

