.nav{
    background-color: getColour(light-gray);
    &__list{
        margin-left: auto;
    }
    &__link{
        color: getColour(txt-gray);
        text-decoration: none;
    }
    &__link--active{
        color: getColour(primary);
    }
    &__logo{
        font-size: 2em;
    }
};
