.nav{
    background-color: getColour(light-gray)!important;
    &__list{
        margin-left: auto;
    }
    &__link{
        color: getColour(secondary) !important;
        text-decoration: none;
    }
    &__link--active{
        color: getColour(primary) !important;
    }
    &__logo{
        font-size: 2em;
    }
};
