$colours: (
    primary: #c32c72,
    light-gray: #F4F3EE,
    bg-grey: #E5E5E5,
    dark-grey: #6a6a6a,
    txt-gray: #8D8D8D,
);

@function getColour($colour) {
    @return map-get($colours, $colour);
}